/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: #F6F8F3;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* The code is imjected by myreweb */


.first-section {
    background: #E85F5C;
    color: #ffff;
}

.container {
    max-width: 1192px;
    width: 100%;
    margin: 0 auto;
    /* padding:0 1%; */
}

/* .flexible{
    display: flex;
    align-items: center;
} */

.flex {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.adj-text {
    justify-content: center;
    margin: 0 30% 0 15%;
}

.link_flex {
    display: flex;
    align-items: center;
}

.content-flex {
    padding: 17px 0;
}

.f-font {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #F6F8F3;
}

.d-none {
    color: #000000;
}

.flex button {
    color: #E85F5C;
    border-style: none;
    width: 100px;
    height: 26px;
}

.center {
    display: flex;
    align-items: center;
}

.nav-section {
    margin-top: 26px;
}

.nav-section li {
    margin-right: 75px;
    list-style: none;
}

.link_flex img {
    height: 70px;
}

.nav-section li:first-child {
    margin-left: 0px;
}

.nav-section li:last-child {
    margin-right: 0px;
}

/* second section ends here */
/* third section contains image and  text  */
.margin-set {
    margin: auto 20px;
}

.t-section {
    background: url('/assests/imagies/homepage-hero-image\ \(1\)\ \(1\)\ \(1\)\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 645px;
    display: flex;
    align-items: center;
    padding: 0 70px;
}
.t1-section{
    margin-bottom: 34px;
}
.hero_heading {
    font-weight: 800 !important;
    font-size: 55px !important;
    color: #E85F5C;
    line-height: 70px !important;
    width: 70%;
    margin-bottom: 3%;
}


.t1-section a {
    border: 1px solid #7692FF;
}

.btn {
    padding: 1.5% 2.8%;
    border-style: none;
    background: none;
    color: #7692FF;
}

.f-section {
    margin-top: 7.1%;
}

.make-center {
    text-align: center;
}

.event-text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: #E85F5C;
}

.what-text {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    margin-top: 2.3%;
}

/* fifth section starts here */
.fifth-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.set-img {
    max-width: 340px;
    padding: 0 20px;
    margin-top: 103px;
}

.set-img img {
    /* min-width: 340px; */
    width: 100%;
    height: auto;
}

.grace-text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: #7692FF;
    margin-bottom: 8%;
}

.feel-text {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #1E1E1E;
    margin-top: 4.4%;
}

.register-btn {
    background: #E85F5C;
    border: 1px solid #E8735C;
    text-decoration: none;
    width: 221px;
    height: 48px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #F6F8F3;
}

.btn-center {
    margin: 5.2% 0 0 17%;
}

/* fifth section ends here */
/* sixth section conatsins 2 imagies og become and hopful starts here */
.six-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 78px;
    margin-top: 4.2%;
}

.become {
    grid-column: 2/3;
}

.hopeful {
    grid-column: 3/4;
}

/* sixth section ends here*/
/* seventh section contains relation image and text */
.seventh-section {
    background: url('/assests/imagies/better.together.scrapbook.couple.about.alt.webp');
    min-height: 484px;
    display: flex;
    margin-top: 7.9%;
    align-items: center;
}

.relation-section {
    width: 40%;
    margin-left: 38px;
    padding: 40px 0;
}

.realtion-heading {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: #E85F5C;
}

/* seventh section ends here */
/* Eight section conatine the life heading and vector imagies starts here */
.bg-white {
    background: #ffff;
}

.relation-text {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    color: #F6F8F3;
    margin-top: 3.4%;
}

.life {
    margin-top: 4.95%;
}

.life-margin {
    margin-top: 10px;
}

/* eigth section ends here */
/* ninth section conatins the vectors starts from here */
.ninth-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: px; */
    margin-top: 6.6%;
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));

}

.vector img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vec-heading {
    margin: 16px 0 0 0 !important;
}

.vec-txt {
    font-size: 14px !important;
    margin: 4px 0 0 0;
}

/* ninth section ends here */
/* tenth section has we are text and image and text starts here */
.tenth-section {
    margin-top: 5.45%;
}

.we-heading {
    width: 100%;
    background: #E85F5C;
    height: 12.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    border-bottom: 2px solid #ffff;
}

.we-txt {
    color: #F5F8F3;
}

.flex-last {
    display: flex;
    width: 100%;
    margin-top: 6.2%;
}

.flex-last img {
    width: 50%;
}

.f-text {
    width: 50%;
    display: flex;
    align-items: center;
}

.make-flex {
    /* border: 2px solid yellow; */
    padding: 0 60px;
}

.no-center {
    text-align: left;
}

.f-margin {
    margin-top: 3.8% !important;
}

.f-event {
    margin-top: 11% !important;
}

/* ninth section ends here */
/* footer starts here */
.above-hr {
    margin-top: 6%;
    border-top: 1px solid #E8735C;
}

.below-hr {
    border: 1px solid #0a0a0a1d;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 99px 0 80px 0;
}

.footer-better-logo img {
    width: 205px;
    height: 28px;
}

.f-color {
    color: #7692FF;
}

.footer-text {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.5;
    color: #000000;
}

/* .foot-margin-top {
    margin-top: 27%;
} */

.subscribe {
    font-family: 'Mont';
    font-size: 12px;
    font-weight: 800;
    line-height: 25px;
    border-bottom: 1px solid #000000;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
}

.m1-top {
    margin: 10px 0 20px 0;
}

.m-top {
    margin: 20px 0;
}

.line {
    text-align: left;
    width: 180px;
    border-bottom: 1px solid #000000;
}
.svg-logo{
    padding: 0 10px;
}
.logos ul li a {
    display: flex;
}

.padding-btn{
    margin: 0 20px;
}

.policy {
    display: flex;
    padding: 25px 0 23px 0;
    justify-content: space-between;
}

/* footer ends here */
/* media query for 1024 starts here */

/* media query for 1024 ends here */
/* media query for 980 starts here */
@media screen and (max-width:980px) {

    .become {
        grid-column: 1/2;
    }

    .hopeful {
        grid-column: 2/3;
    }

    .nav-section li {
        margin-right: 50px;
        list-style: none;
    }

    .adj-text {
        display: none;
    }

}

/* media query for 980 ends here */
/* media query for 768 starts here */
@media screen and (max-width:768px) {
    .hero_heading {
        margin-top: 30%;
        font-size: 36px !important;
        line-height: 1.2 !important;
        font-weight: 800 !important;
        width: 90%;
    }
   

    .d-none {
        display: none;
    }

    .nav-section li {
        margin-right: 30px;
        list-style: none;
    }
/* 
    .btn-center {
        margin: 5.2% 0 0 30%;
       
    } */

    .flex-last {
        display: flex;
        flex-direction: column;
    }

    .flex-last img {
        width: 100%;
    }

    .t-section {
        justify-content: start;
        align-items: flex-start;
    }

    .relation-section {
        width: 80%;
    }

    .f-text {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .make-flex {
        margin-top: 10%;
        padding: 0 10px;
        min-width: 100%;
    }
    .f-event{
        margin-top: 2% !important;
    }

    .footer-sub1,
    .footer-sub3 {
        grid-column: 1/2;
    }

    .footer-sub2,
    .footer-sub4 {
        grid-column: 3;
    }
}

/* media query for 768 ends here */
/* media query for 520 starts here */
@media screen and (max-width:520px) {
    .s-font {
        font-size: 11px;
    }

    

    .link_flex img {
        height: 40px;
    }

    .t-section {
        padding: 0 20px;
    }

    .become {
        margin-top: 77px;
        grid-column: 1/2;
    }

    /* .btn-center {
        margin: 5.2% 0 0 17%;
        
    } */

    .hopeful {
        margin-top: 77px;
        grid-column: 1/2;
    }

   

    .seventh-section {
        background-image: none;
    }

    .color-change {
        color: #000000;
        line-height: 1.5;
        font-size: 16px;
    }

    .relation-section {
        width: 100%;
    }

    /* .foot-margin-top{
        margin-top: 40%;
    } */
    .m-top {
        margin: 5px 0 30px 0;
    }

    .policy {
        flex-direction: column;
    }

    .footer-sub1,
    .footer-sub2,
    .footer-sub4 {
        grid-column: 1/2;
    }

    .footer-sub3 {
        grid-column: 2/5;
    }
}

/* media query for 520 ends here */
/* media query for 375 starts here */
/* media query for 375 ends here */