/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.source-serif{
    font-family: 'Source Serif 4', serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.font-400{
    font-weight: 400;
}

.text-center{
    text-align: center;
}


/* Heaader style starts  */
header .brand_logo{
    text-align: center;
    padding: 25px 0;
    background: #ffffff;
}
/* Header styles ends */

/* Section => Hero banner section  start */

.hero_banner_section{
    background: url('/main_banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 643px;
}

.hero_banner_section .set_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 643px;
}

.hero_banner_content{
   max-width: 614px;
   width: 100%;
   padding: 0 24px;
}

.hero_banner_content h1, .hero_banner_content h2{
    color: #ffffff
}

.hero_banner_content h1{
    font-size: 80px;
    line-height: 80px;
}

.hero_banner_content h2{
    font-size: 16px;
    margin-top: 20px;
}

.hero_banner_content a{
    padding: 18px 60px;
    background: #ffffff;
    color: #000000;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}

.hero_banner_content a:hover{
    text-decoration: underline;
}


/* Section =>   Hero banner section  ends  */

/* Media queries should be added here */

/* Standard size */
/* Desktop */
/* @media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 520px) {
    
}

@media screen and (max-width: 320px) {
    
} */


/* MIn width  */

/* @media screen and (min-width: 320px) {
    
}

@media screen and (min-width: 520px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1440px) {
    
} */



/* ==================== */

@media screen and (max-width: 520px) {

    .hero_banner_content h1{
        font-size: 60px;
        line-height: 54px;
    }

    .hero_banner_content h2{
        line-height: 24px;
    }

    .hero_banner_content a{
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {

    .hero_banner_section, .hero_banner_section .set_flex{
        min-height: 470px;
    }

    .hero_banner_content h1{
        font-size: 38px;
        line-height: 38px;
    }

    .hero_banner_content h2{
        margin-top: 10px;
    }
}

/* Media queries should  end here */