/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* the above code is injected by myreweb */



.section_header {
    text-align: center;
    background-color: rgb(249, 249, 249);
}

.header {
    /* margin-top: 0px; */
    padding: 25px 0;
    background-color: white;
    font-size: 0px;
    font-weight: 800;
}

.banner_image {
    height: 603px;
    background:linear-gradient(0deg, #936C01 0%, rgba(43, 17, 1, 0) 100%), url('/main_banner-1.jpg');
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.heading_on_banner {
    font-family: serif;
    position: absolute;
    width: 614px;
    color: #FFF5D9;
height: 160px;
left: 350px;
top: 200px;

/* font-family: 'Source Serif 4'; */
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 100%;
/* or 80px */

text-align: center;

}

.txt_on_banner {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding-top: 390px;
    padding-left: 0px;
    top: 0px;
    left: 0px;
    color: white;
}

.button1 {
    position: absolute;
    cursor: pointer;
width: 200px;
height: 50px;
left: 520px;
top: 481px;
}

.section_of_second_content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 20px;
    flex-wrap: wrap;
}

.text_brown_scetion {
    /* border: 2px solid red; */
    padding-top: 50px;
    /* padding-left: 30px; */
    /* top: 40px; */
    /* min-height: 450px; */
    

    height: 400px;
    width: 600px;
    background-color:#FFF5D9;

}

.text_brown_sofa {
    color: brown;
    position: relative;
    top: 43px;
    left: 100px;
    font-size: 40px;
    font-weight: bold;

}

.txt_below_brownsofa {
    position: relative;
    padding-top: 30px;
    /* top: 309px; */
    font-size: 20px;
    top: 70px;
    line-height: 30px;
    left: 30px;
    align-items: justify;
    /* right: 7px; */
    color: brown;
    width: 300px;
}

.button2 {
    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    top: 121px;
    left: 80px;
    /* right: 270px; */
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(130, 54, 54);
    padding: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.img_brown_sofa {
    position: relative;
    width: 100%;
    object-fit: cover;
    top: 0px;
    width: 630px;
    height: 448.08000000000004px;
}

.ready_for_section {
    margin-top: 40px;
    text-align: center;
    
}
.ready_text{
    color: brown;
    font-size: 54px;
    /* border: 2px solid red; */

}
.button3{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* border: 2px solid red; */
}